/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
    background: $primary;
    color: lighten($secondary,10%);
    font-weight: 400;
    .columns {
        margin-top: 15px;
    }
    .footer-logo {
        img {
            display: block;
            width: 190px;
            margin: 0 auto;
        }
    }
    .footer-column {
        .footer-header h3 {
            font-weight:500;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        ul.link-list {
            line-height: 40px;
            font-size: 1.1rem;
            a {
                color: $smoke-white;
                font-weight: 400;
                transition: all 0.5s;
            }
            :hover {
                color: $light-blue-grey;
            }
        }
        .level-left {
            margin: 0 auto;
        }
        .level-item .icon {
            color: $smoke-white;
            transition: all 0.5s;
            :hover {
                color: $light-blue-grey;
            }
        }
        p {
          font-size: .8em;
          text-align: center;
          color: $smoke-white;
        }
    }
}

/* ==========================================================================
Simple Footer
========================================================================== */

