/* ==========================================================================
Section Styles
========================================================================== */

.section {
    .container {
        z-index: 5;
    }
    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-secondary {
        background-color: lighten($accent,5%);
        
        // CUSTOM AP STYLES
        &:after {
          position: absolute;
          top: 4300px;
          left: 0;
          content: "";
          width: 100%;
          min-height: 450px;
          transform-origin: bottom right;
          transform: skewY(10deg);
          background: $accent;
          z-index: 3;
      }
    }
}

.section.section-half {
    height: 75vh !important;
}

.title-wrapper {
    max-width: 540px;
    margin: 0 auto;
    .subtitle {
        padding: 0 10%;
    }
}

.title.section-title {
    font-size: 2.4rem;
    color: $blue-grey;
    font-weight: 600;
}

.title.section-subtitle {
    font-size: 2.3rem;
    color: $title-grey;
}

img.pushed-image {
    margin-top: -29vh;
}

.media.icon-box {
    border-top: none !important;
    
    .media-content .content p {
        span.icon-box-title {
            color: $blue-grey;
            font-size: 1.2rem;
            font-weight: 600;
        }
        span.icon-box-text {
            color: $title-grey;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
    
    .fas {
      color: $blue-grey;
    }
}