<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ .Site.Title }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQGKT8C"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    {{ block "main" . }}
    {{ partial "preloader.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "features.html" . }}
    {{ partial "selling-points.html" . }}
    {{ partial "pricing.html" . }}
    {{ partial "merchants.html" . }}
    {{ partial "modal-user-signup.html" . }}
    {{ partial "modal-merchant-signup.html" . }}
    {{ partial "simple-footer.html" . }}

    <!-- Back-to-top button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>
