{{- $merchantsModal := .Site.Params.merchantsModal }}
{{- $title := $merchantsModal.title }}
{{- $tagline1 := $merchantsModal.tagline1 -}}
{{- $tagline2 := $merchantsModal.tagline2 -}}
{{- $buttonText := $merchantsModal.buttonText -}}


<div class="modal container" id="modal-merchant-signup">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head is-theme-primary">
        <p class="modal-card-title">{{ $title }}</p>
        <button class="modal-merchant-close delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <p>{{ $tagline1 }}</p>
        <br>
        <p>{{ $tagline2 }}</p>

        <form action="" id="merchant-form" data-parsley-validate>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="First">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Last">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Email</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="email" placeholder="Email" value id="subscriber">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Website</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Your company website" value>
                  <span class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Monthly Visitors</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Select amount...</option>
                      <option>less than 1,000</option>
                      <option>1,000 - 19,999</option>
                      <option>20,000 - 49,999</option>
                      <option>50,000 - 99,999</option>
                      <option>100,000 or more</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Type of Business</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="What does your business sell/do?"></textarea>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button class="button is-link merchant-signup-btn">{{ $buttonText }}</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>

